<h1>Ticket testing table</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Mail</th>
    <th>Inquiry</th>
    <th>Link</th>

  </tr>

  <tr>
    <td>Martina</td>
    <td>Pola</td>
    <td>martina@pola.bla</td>
    <td>Odio tutto, come faccio?</td>
    <td>
      <div style="float: left;"><button (click)="onPress()">Apri</button>
      </div>
     </td>
    <!--<a routerLink="/app-ticket-details" routerLinkActive="active" ariaCurrentWhenActive="page" id="selected">Apri</a>-->
  </tr>
  <tr>
    <td>Giannetto</td>
    <td>Scarpari</td>
    <td>gian@scapi.net</td>
    <td>Negozio offline</td>
    <td>
      <div style="float: left;"><button (click)="onPress()">Apri</button>
      </div>
    </td>
  </tr>
</table>

<app-ticket-details></app-ticket-details>
